
* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    gap: 20px 20px;
    grid-template-columns : auto auto auto auto;
    background-color: #2196f3;
    padding: 20px;
    height: 100vh;
}

.grid-container div {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.item2 {
    grid-area: 3 / 1 / 10 / 1  ;
    width: 150px;

}
.item9 {
    grid-area: 3/ 4 / 10 / 5;
    width: 150px;
    align-content:end;
}